a {
	text-decoration: none;
}

.blurb_container, h2 {
	margin-top: 7%;
	padding-right: 35%;
	padding-left: 30%;
	text-decoration: none;
	text-align: left;
	height: 300px;
	width: 620px;
}

#hello {
	font-size: 2.5em;
	margin-bottom: 40px;
	line-height: 2.5rem;
	font-family: 'Montserrat', sans-serif;
	color: #1c1d1e;
}

.blurb {
	font-size: 1.1rem;
	margin-top: .5rem;
	margin-bottom: .3rem;
	color: #686868;
	font-family: 'Montserrat', sans-serif;	
	text-align: left;
	font-weight: lighter;
	line-height: 200%;
}

.email {
	color: #f97070ff;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}

.link {
	text-decoration: none;
	margin-top: -10px;
	color: #686868; 
	font-size: 1.1rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	list-style-type: none;
}

.link:hover {
	color: #f97070ff; 
}
.link:active {
	color: #f97070ff; 
}

.eng_link {
	color: #9477cb;
}

.eng_link:hover {
	color: #82919a; 
}
.proj_title{
	font-size: 1.5em;
	font-family: 'Montserrat', sans-serif;
	color: #1c1d1e;
}

.title_photo {
	width: 960px;
	height: 640px;
	margin-left: 15%;
}











