* {
	box-sizing: border-box;
}
a {
	text-decoration: none;
}

body {
	max-width: 800px;
    margin: 10% auto;
}
/* INTRO */

.container {
	text-align: left;
	display: grid;
	grid-template-columns: auto;
	margin-top: 25%;
}

.intro {
	width: 50%;
	font-size: 90%;
	color: #686868;
	font-family: 'Montserrat', sans-serif;	
	text-align: left;
	font-weight: lighter;
	line-height: 200%;
	margin-top: 0;
}

h1 {
	font-size: 2em;
	font-family: 'Montserrat', sans-serif;	
	color: #686868;
	font-weight: lighter;
	line-height: 2rem;
	color: #1c1d1e;
	margin-bottom: 0;
	line-height: 115%;
}

/* PROJECT DISPLAY */

.project_container {
	font-family: 'Montserrat', sans-serif;
	font-size: 90%;
}

.project_item_left{
	border-radius: 4px;
	width: 48.5%;
	padding: 5% 5% 2% 5%;
	text-align: left;
	background: #ddd;
	float: left;
	display: flex;
	flex-wrap: wrap;
  	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.project_item_right{
	border-radius: 4px;
	width: 48.5%;
	padding: 5% 5% 2% 5%;
	text-align: left;
	background: #ddd;
	float: right;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.email {
	color: #f97070ff;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}

.link {
	text-decoration: none;
	margin-top: -10px;
	color: #686868; 
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	list-style-type: none;
}

.link:hover {
	color: #f97070ff; 
}
.link:active {
	color: #f97070ff; 
}

.eng_link {
	color: #9477cb;
}

.eng_link:hover {
	color: #82919a; 
}

.footer{
	margin-top: 100px;
	height: 400px;
}







